body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
header {
    background-color: blueviolet;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Special Elite', cursive;
}

header h1 {
    color: #ffd90f;
    font-size: 40px;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #ffd90f;
    margin: 40 px 0 10 px;
}

a{
    color: #ffd90f;
}
a:hover{
    color: red;
}
footer{
    background-color: blueviolet;
    text-align: center; 
    color: white;
    padding: 50px;
}
footer a{
    margin:0;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
    background-color: transparent;
}
p.caption{
    color: grey;
    font-style: italic;
    margin-top: 0;
}